*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    padding: 5px;
    background-color: rgb(208, 166, 111);
    text-align: center;
    font-size: 6ex;
    color: white;
}

.seccion1{
    background-color: moccasin;
    padding: 5px;
}

.seccion2{
    background-color: oldlace;
    padding: 5px;
}

footer{
    background-color: rgb(208, 166, 111);
    padding: 5px;
    font-size: 2ex;
    color: white;
}